<div>
    <h2 id="page-heading">
        <span jhiTranslate="blogApp.post.home.title">Posts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-post" [routerLink]="['/post/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="blogApp.post.home.createLabel">
            Create a new Post
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="posts?.length === 0">
        <span jhiTranslate="blogApp.post.home.notFound">No posts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="posts?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="blogApp.post.title">Title</span></th>
                    <th scope="col" ><span jhiTranslate="blogApp.post.content">Content</span></th>
                    <th scope="col" ><span jhiTranslate="blogApp.post.tag">Tag</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of posts ;trackBy: trackId">
                    <td><a [routerLink]="['/post', post.id, 'view']">{{ post.id }}</a></td>
                    <td>{{ post.title }}</td>
                    <td>
                        <a *ngIf="post.content" (click)="openFile(post.contentContentType, post.content)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="post.content">{{ post.contentContentType }}, {{ byteSize(post.content) }}</span>
                    </td>
                    <td>
                        <span *ngFor="let tag of post.tags; let last = last">
                            <a class="form-control-static" [routerLink]="['/tag', tag?.id, 'view']">{{ tag.tagtext }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/post', post.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/post', post.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(post)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
